<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Genre</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/add.css}">
</head>
<body>
    <div class="container">
        <h1>Add Genre</h1>
        
        <div class="form-container">
            <form th:action="@{/admin/add-genre}" th:object="${genre}" method="post">
                <div class="form-group">
                    <input type="text" th:field="*{Nama_Genre}" class="form-control" placeholder="Genre Name">
                    <span class="error" th:if="${#fields.hasErrors('Nama_Genre')}" th:errors="*{Nama_Genre}"></span>
                </div>
                <button type="submit" class="back-button">Add Genre</button>
            </form>
        </div>
        
        <div th:if="${success}" class="notification">
            Genre successfully added!
        </div>
        <a href="/admin/tambah" class="back-button1">Back</a>
    </div>


    <script th:if="${success}">
        // Reset input field
        document.querySelector('input[name="Nama_Genre"]').value = '';
        
        // Sembunyikan notifikasi setelah 3 detik
        setTimeout(function() {
            const notification = document.querySelector('.notification');
            if (notification) {
                notification.style.display = 'none';
            }
        }, 3000);
    </script>
    
</script>
</body>
</html>
