<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENTAL-FILM Sign Up</title>
    <link rel="stylesheet" th:href="@{/signup.css}">
</head>
<body>
    <div th:if="${param.success}" class="notification">
        Signup Berhasil!
    </div>

    <div class="header-outside">
        <h1>RENTAL-FILM</h1>
    </div>
    <div class="grayscale-layer"></div>
    <div class="login-container">
        <div class="login-box">
            <h1>Create Account</h1>
            <form th:action="@{/register}" method="post" th:object="${pelanggan}">
                <input type="text" th:field="*{username_pelanggan}" placeholder="Username" required>
                <div th:if="${#fields.hasErrors('username_pelanggan')}" class="error-message" 
                     th:errors="*{username_pelanggan}"></div>
                
                <input type="password" th:field="*{password_pelanggan}" placeholder="Password" required>
                <div th:if="${#fields.hasErrors('password_pelanggan')}" class="error-message" 
                     th:errors="*{password_pelanggan}"></div>

                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <div th:if="${errorConfirmPassword}" class="error-message">
                    Password and Confirm Password do not match.
                </div>
     
                <button type="submit">Sign Up</button>
            </form>

            <div th:if="${param.success}" class="success-message">
                Registration successful!
            </div>

            <div class="sign-up">
                <p>Already have an account? <a th:href="@{/login}">Sign In</a></p>
            </div>
        </div>
    </div>

    <script>
        setTimeout(() => {
            const notification = document.querySelector('.notification');
            if (notification) {
                notification.style.display = 'none';
            }
        }, 3000); // Menghilang setelah 3 detik
    </script>
    
</body>
</html>
