<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENTAL-FILM Sign Up</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <div class="header-outside">
        <h1>RENTAL-FILM</h1>
    </div>
    <div class="grayscale-layer"></div>
    <div class="login-container">
        <div class="login-box">
            <h1>Create Account</h1>
            <!-- Add action attribute to form -->
            <form action="welcome.html" method="post">
                <input type="text" placeholder="Full Name" required>
                <input type="email" placeholder="Email" required>
                <input type="text" placeholder="Username" required>
                <input type="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm Password" required>
                <button type="submit">Sign Up</button>
                <div class="options">
                    <div>
                        
                        <label for="agree-terms">I agree to the terms and conditions</label>
                    </div>
                </div>
            </form>
            <div class="sign-up">
                <p>Already have an account? <a href="login.html">Sign In</a></p>
            </div>
        </div>
    </div>
</body>
</html>
